doctype html
html
  head
    title Company List
    link(rel="stylesheet", href="/css/style.css")

  body
    .container
      h1.title Company List

      a.btn(href="/update-cobj") + Add to this table

      table.table
        thead
          tr
            th Author Name
            th Author Category
            th Author Description
        tbody
          each item in data
            tr
              td= item.properties.author_name
              td= item.properties.author_category
              td= item.properties.author_description