h1 Add Company

a(href="/") Return to homepage

form(method="POST", action="/update-cobj")
  input(type="text", name="author_name", placeholder="Author Name", required)
  input(type="text", name="author_category", placeholder="Author Category")
  input(type="text", name="author_description", placeholder="Author Description")

  button(type="submit") Submit