doctype html
html
  head
    title Add Company
    link(rel="stylesheet", href="/css/style.css")

  body
    .container
      h1.title Add Company

      a.back-link(href="/") ← Return to homepage

      form.form(method="POST", action="/update-cobj")
        .form-group
          label Author Name
          input(type="text", name="author_name", placeholder="Enter author name", required)

        .form-group
          label Author Category
          input(type="text", name="author_category", placeholder="Enter category")

        .form-group
          label Author Description
          textarea(name="author_description", placeholder="Enter description")

        button.btn(type="submit") Submit